/* font google */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 200px;
    height: 150px;
    padding-top: 20px;
}

.berger {
    background-image: url("../images/berger.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

h1 {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    letter-spacing: 1.2px;
}